# Environment
.env

# Data files
/poc_data_v2.8/
/geodata/
/dummy_data/

# Python
__pycache__/
*.pyc

# Metabase
metabase.db/

# IDE
.idea/
.vscode/
*.swp
.claude/
/*.log
/*.claude

*.tar.zip
*.tar.gz
*.tar
*.zip
*.7z
*.rar
*.bak
*.tmp
*.log
*.cache
*.out
*.aux
*.toc
*.dump
*.sql
*.db
*.sqlite
*.csv
*.xlsx
*.docx
*.pdf
*.pptx
*.jpg